<h2>Detalles del Restaurante</h2>

<h3>id: <%= @restaurante.id %> </h3>
<h1> <%= @restaurante.nombre %> </h1>
<p> <%= @restaurante.tipo_comida.tipo %> </p>
<%= link_to restaurantes_path do%>
    Volver
<% end %>